/* ------------------------------
global styles
------------------------------ */

body {
	margin: 0;
	padding: 0;
	font: 75% arial, hevetica, sans-serif;
	text-align: center;
	color: #333;
	background: #ddd url(img_39.gif) repeat 0 0;
	}

a:link { color: #B52C07; }
a:visited { color: #b93411; }
a:focus { color: #000; }
a:hover { color: #7d8206; }
a:active { color: red; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 .5em; }

h2 {
	color: #B52C07;
	font: 140% georgia, times, "times new roman", serif;
	}

h2 a { text-decoration: none; }

h3 {
	color: #7d8206;
	font: 110% georgia, times, "times new roman", serif;
	}

/* ------------------------------
container styles
------------------------------ */

#container {
	margin: 1em auto;
	width: 750px;
	text-align: left;
	background: #fff;
	border: 1px solid #676767;
	}

/* ------------------------------
header styles
------------------------------ */

#header {
	height: 45px;
	width: 100%;
	position: relative;
	font-size: 26px;
	background: url(#{resource['imagens:testebanner2.png']}) no-repeat 0 0;
	border-bottom: 1px solid #fff;
	}

#header h1 {
	position: absolute;
	left: -500em;
	}

#skipmenu {
	position: absolute;
	left: 0;
	top: 5px;
	width: 645px;
	text-align: right;
	}

#skipmenu a {
	color: #555;
	text-decoration: none;
	}

/* ------------------------------
mainnav styles
------------------------------ */

#mainnav {
	background: #9FA41D;
	color: #272900;
	padding: 2px 0;
	margin-bottom: 22px;
	}

#mainnav ul {
	margin: 0 0 0 20px;
	padding: 0;
	list-style-type: none;
	border-left: 1px solid #C4C769;
	}

#mainnav li {
	display: inline;
	padding: 0 10px;
	border-right: 1px solid #C4C769;
	}

#mainnav li a {
	text-decoration: none;
	color: #272900;
	}

#mainnav li a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #272900;
	}

/* ------------------------------
menu styles
------------------------------ */

#menu {
	float: right;
	width: 165px;
	border-left: 1px solid #C5C877;
	padding-left: 15px;
	}

#menu ul {
	margin: 1em 0;
	padding: 0;
	}

#menu ul li {
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
	}

/* ------------------------------
contents styles
------------------------------ */

#contents {
	float: left;
	width: 500px;
	margin: 0 0 15px 20px;
	}

#contents p { line-height: 165%; }
.blogentry { border-bottom: 1px solid #C5C877; }

.blogentry ul {
	text-align: right;
	margin: 1em 0;
	padding: 0;
	font-size: 95%;
	}

.blogentry li {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0 0 0 7px;
		}

.imagefloat {
	float: right;
	padding: 2px;
	border: 1px solid #9FA41D;
	margin: 0 0 10px 10px;
	}

/* ------------------------------
footer styles
------------------------------ */

#footer {
	clear: both;
	color: #272900;
	text-align: center;
	font-size: 90%;
	background: #9FA41D;
	padding: 5px;
	}
